Repository artiso-solutions/CoVoX, pull requests merged in 2021-02, with the labels that each got.

#3 Doc improvements
  README.md
  assets/CoVoX_HowItWorks.png
Labels: documentation

#4 Documentation updated
  README.md
Labels: documentation

#19 Speech translation POC
  poc/Poc.sln
  poc/translating/SpeechTranslation/Program.cs
  poc/translating/SpeechTranslation/Scenarios/ContinuousRecognitionPerfScenario.cs
  poc/translating/SpeechTranslation/Scenarios/ContinuousRecognitionScenario.cs
  poc/translating/SpeechTranslation/Scenarios/RecognizeOnceScenario.cs
  poc/translating/SpeechTranslation/Scenarios/TranslateToVoiceScenario.cs
  poc/translating/SpeechTranslation/Scenarios/_AbstractScenario.cs
  poc/translating/SpeechTranslation/SpeechTranslation.csproj
  poc/translating/SpeechTranslation/Utils/DataCollector.cs
  poc/translating/SpeechTranslation/Utils/Utils.cs
Labels: listening-module, research, translating-module

#40 Introduces recognition loop.
  src/CoVoX/API/Covox.cs
  src/CoVoX/API/Models/Command.cs
  src/CoVoX/API/Models/Configuration.cs
  src/CoVoX/API/Modules/Translating/IMultiLanguageTranslatingModule.cs
  src/CoVoX/API/Modules/Translating/ITranslatingModule.cs
  src/CoVoX/API/Modules/Translating/MultiLanguageTranslator.cs
  src/CoVoX/API/Modules/Translating/TextRecognizedArgs.cs
  src/CoVoX/API/Modules/Translating/Translator.cs
  src/CoVoX/API/Modules/Understanding/CommandRecognizedArgs.cs
  src/CoVoX/API/Modules/Understanding/IInterpreter.cs
  src/CoVoX/API/Modules/Understanding/IUnderstandingModule.cs
  src/CoVoX/API/Modules/Understanding/Interpreters/IInterpreter.cs
  src/CoVoX/API/Modules/Understanding/Interpreters/SimilarityInterpreter.cs
  src/CoVoX/API/Modules/Understanding/Interpreters/SimpleInterpreter.cs
  src/CoVoX/API/Modules/Understanding/Match.cs
  src/CoVoX/API/Modules/Understanding/UnderstandingModule.cs
  src/CoVoX/API/RecognitionContext.cs
  src/CoVoX/API/RecognitionLoop.cs
  src/CoVoX/API/_Internals/AutoResetTaskCompletionSource.cs
  src/CoVoX/API/_Internals/CancellationTokenTaskSource.cs
  src/CoVoX/Demo/Program.cs
  src/CoVoX/LightSwitchDemo/MainWindow.xaml.cs
Labels: API, proposal

#41 Changes namespace from API to Covox
  src/CoVoX/API/Covox.csproj
  src/CoVoX/API/CovoxEngine.cs
  src/CoVoX/API/Models/Command.cs
  src/CoVoX/API/Models/Configuration.cs
  src/CoVoX/API/Modules/Translating/IMultiLanguageTranslatingModule.cs
  src/CoVoX/API/Modules/Translating/ITranslatingModule.cs
  src/CoVoX/API/Modules/Translating/MultiLanguageTranslator.cs
  src/CoVoX/API/Modules/Translating/Translator.cs
  src/CoVoX/API/Modules/Understanding/IUnderstandingModule.cs
  src/CoVoX/API/Modules/Understanding/Interpreters/IInterpreter.cs
  src/CoVoX/API/Modules/Understanding/Interpreters/SimilarityInterpreter.cs
  src/CoVoX/API/Modules/Understanding/Match.cs
  src/CoVoX/API/Modules/Understanding/UnderstandingModule.cs
  src/CoVoX/API/RecognitionContext.cs
  src/CoVoX/API/RecognitionLoop.cs
  src/CoVoX/API/Settings/SecretsHelper.cs
  src/CoVoX/API/Utils/ModelValidator.cs
  src/CoVoX/API/_Internals/AutoResetTaskCompletionSource.cs
  src/CoVoX/API/_Internals/CancellationTokenTaskSource.cs
  src/CoVoX/CoVoX.sln
  src/CoVoX/Demo/Demo.csproj
  src/CoVoX/Demo/Program.cs
  src/CoVoX/LightSwitchDemo/LightSwitchDemo.csproj
  src/CoVoX/LightSwitchDemo/MainWindow.xaml
  src/CoVoX/LightSwitchDemo/MainWindow.xaml.cs
Labels: proposal

#51 ensure valid configuration
  .gitignore
  src/CoVoX/API/CovoxEngine.cs
  src/CoVoX/API/Models/Attributes/MustHaveValidLanguages.cs
  src/CoVoX/API/Models/Attributes/NotEmpty.cs
  src/CoVoX/API/Models/Configuration.cs
  src/CoVoX/API/Utils/ModelValidator.cs
  src/CoVoX/Demo/Program.cs
Labels: API, proposal
